<style type='text/css'>
  #new-conduit {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    text-align: right;
    border: solid green 1px;
    border-radius: 0.25rem;
    background-color: white;
    color: green;
    text-decoration: none;
  }
  #new-conduit:hover {
    cursor: pointer;
    background-color: green;
    color: white;
  }
</style>

<p style="color: green"><%= notice %></p>

<h1>Conduits</h1>

<div id="conduits">
  <% @conduits.each do |conduit| %>
    <%= render conduit %>
    <p>
      <%= link_to "Show this conduit", conduit %>
    </p>
  <% end %>
</div>

<%= link_to "New conduit", new_conduit_path, id: 'new-conduit' %>
