<style type='text/css'>
  #new-cable {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    text-align: right;
    border: solid green 1px;
    border-radius: 0.25rem;
    background-color: white;
    color: green;
    text-decoration: none;
  }
  #new-cable:hover {
    cursor: pointer;
    background-color: green;
    color: white;
  }
</style>

<p style="color: green"><%= notice %></p>

<h1>Cables</h1>

<div id="cables">
  <% @cables.each do |cable| %>
    <%= render cable %>
    <p>
      <%= link_to "Show this cable", cable %>
    </p>
  <% end %>
</div>

<%= link_to "New cable", new_cable_path, id: 'new-cable' %>
