<style>
  .form {
    display: flex;
    justify-content: center;
  }
  #header {
    text-align: center;
  }
</style>


<div class='form'>
  <div>
    <h1 id='header'>Sign Up</h1>
    <%= render "form", user: @user %>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
