<style>
  .form-container {
    display: flex;
    justify-content: center;
  }
  .form {
    padding-bottom: 2rem;
  }
  #header {
    text-align: center;
  }
  #subsection {
    display: block;
    text-align: center;
  }
  #to_sign_in {
    top: 0;
    display: block;
    color: inherit;
    text-decoration: none;
    font-style: italic;
  }
  #to_sign_in:hover {
    text-decoration: underline;
  }
</style>

<div class='form-container'>
  <div>
    <h1 id='header'>Sign Up</h1>
    <div class='form'>
      <%= render "form", user: @user %>
    </div>
    <div id='subsection'>
      <p>Already have an account?</p>
      <%= link_to "Sign In Here", '/sign_in', id: 'to_sign_in' %>
    </div>
  </div>
</div>