<div class='form-container'>
  <div>
    <h1 class='form-header'>Sign Up</h1>
    <div class='form'>
      <%= render "form", user: @user %>
    </div>
    <div class='form-subsection'>
      <p>Already have an account?</p>
      <%= link_to "Sign In Here", '/sign_in', class: 'link-back' %>
    </div>
  </div>
</div>