<main>
  <section class='hero-container'>
    <div class='hero'>
      <div class='hero-text'>
        <div class='heading xl'>
          <h1 >Simplify Your Cable </h1>
          <h1 >& Conduit Schedules </h1>
        </div>
        <p class='sub md'>Efficient cable and conduit managment system that reduces the complexity of large projects and increases the speed of updating and optimizing schedules.</p>
        <%= link_to 'Get Started', '/sign_in', class: 'action-btn' %>

      </div>
      <%= image_tag("/photo.jpg", alt: "Conduit & Cable Tray", class: 'hero-image') %>
    </div>
  </section>
  <section class='info-container'>
    <div class='info'>
      <div class='heading xl'>Why choose Scheduler?</div>
      <div>
        <div>asd</div>
        <div>fgh</div>
      </div>
    </div>
  </section>
  <section></section>
</main>