<style>
  #hero {

  }
  #heading {
    font-size: 3rem;
    margin: 0;
  }
</style>

<main>
  <section id='hero'>
    <h1 id='heading'>Cable and Conduit Scheduler</h1>
    <p>Created by an electrical engineer for electrical engineers.</p>
    <p>Manage complex cable and conduit schedules in one place. Upgrade from spreadsheets to the 21st century.</p>
  </section>
  <section></section>
  <section></section>
</main>