<div class='projects-container'>
  <p style="color: green"><%= notice %></p>
  <h1 class='project-heading'>Projects</h1>
  <div class="projects">
    <% @projects.each do |project| %>
      <%= link_to  "#{project.name}", project, class: 'project-link' %>
    <% end %>
  </div>
  <%= link_to "New project", new_project_path, class: 'btn-hollow' %>
</div>