/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*-----------------------------------------
*               -Contents-
* -----------------------------------------
* => General
* => Text Sizing Defaults: [sm, md, lg, xl]
* => Navigation
* => Buttons: [btn-hollow, btn-solid]
* => Links: [link, link-back]
* => Home Page
*    => Hero
*    => Info
* => Forms
* => Projects
* ---------------------------------------*/

/* General */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;

  --txt-primary: black;
  --txt-secondary: white;
  --txt-accent: #905e0c;

  --bg-primary: white;
  --bg-secondary: #023047;
  --bg-accent: #905e0c;
}
main {
  padding-top: 10rem;
}
/* Text Sizing Defaults */
.sm {font-size: 0.75rem;}
.md {font-size: 1rem;}
.lg {font-size: 1.5rem;}
.xl {font-size: 2rem;}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.06), 0 3px 6px rgba(0,0,0,.13);
}
.brand {
  font-weight: 600;
  color: var(--txt-accent);
  text-decoration: none;
}
/* Buttons */
.btn-hollow {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border: solid var(--bg-accent) 1px;
  border-radius: 0.25rem;
  color: var(--txt-accent);
  background-color: var(--bg-primary);
  text-decoration: none;
  font-weight: 600;
}
.btn-hollow:hover {
  background-color: var(--txt-accent);
  color: var(--txt-secondary);
}
.btn-solid {
  padding: 1rem;
  border: solid var(--bg-accent) 1px;
  border-radius: 0.25rem;
  color: var(--txt-secondary);
  text-decoration: none;
  font-weight: 600;
  background-color: var(--txt-accent);
}
.btn-solid:hover {
  background-color: #b87a16;
  border: solid #b87a16 1px;
  color: var(--txt-secondary);
}
.btn-delete {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  font-size: 1rem;
  border: solid red 1px;
  border-radius: 0.25rem;
  color: red;
  background-color: white;
  text-decoration: none;
}
.btn-delete:hover {
  background-color: red;
  color: white;
}
.btn-update {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  font-size: 1rem;
  border: solid blue 1px;
  border-radius: 0.25rem;
  color: blue;
  background-color: white;
  text-decoration: none;
}
.btn-update:hover {
  background-color: blue;
  color: white;
}
/* Links */
.links {
  margin-right: 1rem;
  /* color: var(--primary-txt-light); */
  text-decoration: none;
  font-weight: 600;
  color: #686868;
}
.links:hover {
  color: black;
}
.link-back {
  top: 0;
  /* display: block; */
  color: inherit;
  text-decoration: none;
  font-style: italic;
}
.link-back:hover {
  text-decoration: underline;
}
/* Home Page */
.hero-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.hero {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 75rem;
  align-items: center;
  justify-content: center;
}
.hero-text {
  text-wrap: balance;
}
.hero-heading {
  color: var(--txt-accent);
  padding-bottom: 1rem;
  text-wrap: balance;
}
.sub {
  padding-bottom: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
  text-wrap: balance;
}
.hero-image {
  width: 100%;
  max-width: 25rem;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0.15rem 0.15rem 0.15rem grey;
}
.info-container {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.info-heading {
  color: var(--txt-accent);
  text-align: center;
  font-weight: 600;
  padding-bottom: 4rem;
}
.info-cards {
  display: flex;
  justify-content: center;
}
.cards {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 1.5rem;

  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.15rem 0.15rem 0.15rem grey;
}
.card-heading {
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.card-list>li {
  list-style: none;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
}
.good {
  color: rgb(4 120 87 / 1);
  background-color: rgb(209, 250, 229, 0.7);
}
.bad {
  color: rgb(190 18 60 / 1);
  background-color: rgb(255, 228, 230, 0.75);
}
/* Forms */
.form-container {
  display: flex;
  padding-top: 10rem;
  justify-content: center;
}
.form {
  padding-bottom: 2rem;
}
.form-header {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: var(--txt-accent);
}
.form-subsection {
  display: block;
  text-align: center;
}
.form-group {
  padding-bottom: 0.5rem;
}
.form-entry {
  display: block;
  padding: 0.25rem;
}
/* Projects */
.projects-container {
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.project-heading {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: var(--txt-accent);
}
.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
.project-link {
  padding-bottom: 0.5rem;
  color: black;
  text-decoration: none;
}
.project-link:hover {
  text-decoration: underline;
}