<style>
  footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
  }
  #links {

  }
  #copyright {

  }
</style>

<footer>
  <div id='links'></div>
  <div id='copyright'></div>
</footer>